@charset "UTF-8";

$regular: "Montserrat", sans-serif;
$primary: #00a3a5;
$secondary: #9880ad;

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-rc #es-rc-content {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    font-family: $regular;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    max-width: 990px;

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    .es-kv {
        background-size: cover;
        background-position: center right;
        min-width: 100%;
        min-height: 540px;

        &__branding {
            margin: 0 auto;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            padding: 10px;
            max-width: 280px;
        }

        &__logo {
            margin-bottom: 20px;
            opacity: 0;
            -webkit-animation: slidedown 0.8s ease forwards;
            animation: slidedown 0.8s ease forwards;
        }

        &__packshot {
            display: block;
            -webkit-animation: appear 0.8s ease forwards;
            animation: appear 0.8s ease forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            position: relative;
        }

        &__img {
            margin: 0 auto;
            display: block;
            padding: 3px 0;
            max-width: 60%;

            &--1 {
                max-height: 250px;
            }
        }

        &__bg-img {
            &--desktop {
                display: none;
            }
        }

        &__left {
            max-width: 275px;
            margin: 15px auto;
            -webkit-animation: slideright 0.8s ease forwards;
            animation: slideright 0.8s ease forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }

        &__title {
            margin: auto;
            padding: 5px 10px;
            color: #000;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.5;
            text-transform: uppercase;

            &--mobile {
                text-align: center;
            }

            &--desktop {
                display: none;
            }
        }

        &__subtitle {
            margin-bottom: 0;
            padding-left: 10px;
            color: #000;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-animation: slideright 0.8s ease forwards;
            animation: slideright 0.8s ease forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            text-align: center;
        }
    }

    .es-benefits {

        &__img {
            margin-bottom: 25px;

            &--desktop {
                display: none;
            }
        }

        &__container {
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            justify-content: center;
            gap: 120px;
        }

        &__single {
            z-index: 1;
        }

        &__text {
            margin-bottom: 5px;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;

            &--bold {
                font-weight: 700;
            }
        }
    }

    .es-fresh {
        padding-bottom: 10px;
        background: #DCDDE7;
        position: relative;

        &__img {
            margin-bottom: 25px;

            &--desktop {
                display: none;
            }
        }

        &__title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;

            &--bold {
                font-weight: 700;
            }
        }
    }

    .es-formula {
        padding-top: 20px;
        position: relative;
        padding-bottom: 25px;

        &__text {
            margin-bottom: 15px;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }

        &__img {
            @include img;
        }

        &__wrapper {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
        }

        &__left {
            position: absolute;
            bottom: initial;
            top: 55%;
            left: 5%;
            -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
        }

        &__title {
            margin-bottom: 16px;
            font-weight: 200;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;

            &--left {
                margin-bottom: 0;
                text-align: left;
            }

            &--right {
                text-align: right;
            }

            &--bold {
                font-weight: 700;
            }
        }

        &__left-image {
            max-width: 100px;
            bottom: 0;
            left: 0;
            margin-left: 0;
        }

        &__right {
            position: absolute;
            bottom: initial;
            top: 65%;
            right: 2%;
            -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
        }

        &__right-image {
            max-width: 100px;
            bottom: 0;
            left: 0;
            margin-bottom: 5px;
            margin-right: 0;
        }
    }

    .es-moisture {
        background: #DCDDE7;
        padding-top: 20px;
        margin-bottom: 20px;

        &__title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;

            &--bold {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &__img {
            &--desktop {
                display: none;
            }
        }
    }

    .es-cross {
        margin-bottom: 30px;

        &__title {
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-weight: 300;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;

            &--bold {
                font-weight: 700;
            }
        }

        &__products {
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            justify-content: center;
        }

        &__product {
            margin-bottom: 32px;
            width: 100%;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-flow: column;

            &:hover .es-cross__link::before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

            &:hover .es-cross__packshot {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
            }
        }

        &__packshot {
            margin-bottom: 24px;
            -webkit-transition: -webkit-transform 0.3s;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;

            img {
                max-width: 100%;
            }
        }

        &__img {
            @include img;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        &__text {
            margin-bottom: 10px;
            font-weight: 800;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: 16px;
            min-height: 50px;
            text-align: center;
        }

        &__description {
            margin-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 15px;
            text-align: center;
            min-height: 70px;
        }

        &__link {
            width: 63%;
            position: relative;
            z-index: 1;
            border-radius: 8px;
            display: inline-block;
            padding: 22px 48px;
            color: #fff;
            font-weight: 800;
            font-size: 15px;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background: #000;

            &::before {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                background-color: #000;
                content: "";
                -webkit-transition: -webkit-transform 0.3s ease-in-out;
                transition: -webkit-transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: left;
                transform-origin: left;
            }
        }
    }

    .es-footer {
        &__disclaimer {
            margin-bottom: 48px;
            font-size: 12px;
            text-align: center;
        }

        &__container {
            border-top: 2px solid #000;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-flow: column;
            gap: 32px;
        }

        &__img {
            @include img;
        }
    }

    @media screen and (min-width: 500px) {
        .es-kv {
            min-height: unset;

            &__left {
                max-width: 350px;
            }

            &__title {
                padding: 0 10px;
            }

            &__wrapper {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                flex-direction: row-reverse;
                position: absolute;
            }
        }
    }

    @media screen and (min-width: 700px) {
        .es-kv {
            &__container {
                position: relative;
                z-index: 1;
            }

            &__branding {
                padding: 0;
            }

            &__logo {
                position: absolute;
                top: 25px;
                left: 0;
            }

            &__logo-img {
                max-width: 135px;
                margin-left: 40px;
            }

            &__packshot {
                position: absolute;
                bottom: 0;
                right: 15px;
            }

            &__img {
                &--1 {
                    max-height: 200px;
                }
            }

            &__bg-img {
                &--desktop {
                    display: block;
                }

                &--mobile {
                    display: none;
                }
            }

            &__left {
                position: absolute;
                bottom: 0px;
                left: 10px;
            }

            &__title {
                font-size: 22px;
                text-align: left;

                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                }
            }

            &__subtitle {
                font-size: 17px;
                text-align: left;
            }
        }

        .es-benefits {
            position: relative;

            &__img {
                &--desktop {
                    margin-bottom: 0;
                    display: block;
                }

                &--mobile {
                    display: none;
                }
            }

            &__text {
                position: absolute;
                top: 45%;
                left: 4%;
                font-size: 30px;
            }
        }

        .es-fresh {
            padding-bottom: 0;

            &__img {
                margin-bottom: 0;

                &--desktop {
                    display: block;
                }

                &--mobile {
                    display: none;
                }
            }

            &__text-group {
                position: absolute;
                top: 50%;
                right: -1%;
                -webkit-transform: translate(-5%, -50%);
                transform: translate(-5%, -50%);
            }

            &__title {
                margin-bottom: 30px;
                text-align: left;
                font-size: 23px;
                line-height: 1.4;

                &--bold {
                    font-size: 28px;
                }
            }
        }

        .es-formula {
            padding-top: 30px;
            padding-bottom: 0;

            &__text {
                font-size: 30px;
            }

            &__left {
                top: 55%;
                left: 6%;
            }

            &__title {
                font-size: 23px;
                margin-bottom: 10px;
            }

            &__left-image {
                max-width: 250px;
            }

            &__right {
                top: 65%;
                right: 1.4%;
            }

            &__right-image {
                margin-bottom: 20px;
                max-width: 250px;
            }
        }

        .es-moisture {
            padding-top: 0;
            position: relative;

            &__title {
                position: absolute;
                top: 50%;
                left: 5%;
                -webkit-transform: translate(-5%, -50%);
                transform: translate(-5%, -50%);
                text-align: left;
                font-size: 23px;

                &--bold {
                    font-size: 31px;
                }
            }

            &__img {
                &--desktop {
                    display: block;
                }

                &--mobile {
                    display: none;
                }
            }
        }

        .es-cross {
            &__title {
                padding-top: 30px;
                padding-bottom: 30px;
                font-size: 30px;
            }

            &__description {
                min-height: 50px;
            }

            &__products {
                -webkit-box-pack: space-evenly;
                justify-content: space-evenly;
                -webkit-column-gap: 10px;
                -moz-column-gap: 10px;
                column-gap: 10px;
            }

            &__product {
                width: 49%;
                -webkit-box-pack: start;
                justify-content: flex-start;
            }
        }

        .es-footer {
            &__container {
                -webkit-box-pack: center;
                justify-content: center;
                padding: 10px 46px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-flow: row;
            }

            &__logo {
                -webkit-box-flex: 2;
                flex: 2;
                max-width: 24%;
            }
        }
    }

    @media screen and (min-width: 800px) {
        .es-fresh {
            &__title {
                &--bold {
                    font-size: 31px;
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        .es-kv {
            &__left {
                position: absolute;
                bottom: 0px;
                left: 10px;
            }

            &__img {
                &--1 {
                    max-height: 200px;
                }
            }
        }

        .es-fresh {
            &__text-group {
                top: 53%;
                right: 7%;
            }
        }

        .es-formula {
            &__left {
                top: 53%;
                left: 6%;
            }

            &__left-image {
                max-width: 350px;
            }

            &__right {
                top: 58%;
                right: 1.4%;
            }

            &__right-image {
                max-width: 350px;
            }
        }
    }

    @media screen and (min-width: 990px) {
        .es-kv {
            &__branding {
                max-width: 315px;
            }

            &__left {
                max-width: 415px;
            }

            &__title {
                font-size: 30px;
            }

            &__img {
                &--1 {
                    max-height: 300px;
                }
            }
        }
    }

    @keyframes slidedown {
        from {
            opacity: 0;
            -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
        }

        to {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @-webkit-keyframes slidedown {
        from {
            opacity: 0;
            -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
        }

        to {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slideright {
        from {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
        }

        to {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @-webkit-keyframes slideright {
        from {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
        }

        to {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
        }

        10% {
            -webkit-transform: rotate(30deg) translate(-50%, -50%);
            transform: rotate(30deg) translate(-50%, -50%);
        }

        35% {
            -webkit-transform: rotate(-50deg) translate(-50%, -50%);
            transform: rotate(-50deg) translate(-50%, -50%);
        }

        70% {
            -webkit-transform: rotate(90deg) translate(-50%, -50%);
            transform: rotate(90deg) translate(-50%, -50%);
        }

        85% {
            -webkit-transform: rotate(30deg) translate(-50%, -50%);
            transform: rotate(30deg) translate(-50%, -50%);
        }

        100% {
            -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
        }
    }

    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
        }

        10% {
            -webkit-transform: rotate(30deg) translate(-50%, -50%);
            transform: rotate(30deg) translate(-50%, -50%);
        }

        35% {
            -webkit-transform: rotate(-50deg) translate(-50%, -50%);
            transform: rotate(-50deg) translate(-50%, -50%);
        }

        70% {
            -webkit-transform: rotate(90deg) translate(-50%, -50%);
            transform: rotate(90deg) translate(-50%, -50%);
        }

        85% {
            -webkit-transform: rotate(30deg) translate(-50%, -50%);
            transform: rotate(30deg) translate(-50%, -50%);
        }

        100% {
            -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
        }
    }
}