#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6,
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-rc-content a {
  text-decoration: none;
}
#es-rc #es-rc-content .es-kv {
  background-size: cover;
  background-position: center right;
  min-width: 100%;
  min-height: 540px;
}
#es-rc #es-rc-content .es-kv__branding {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 280px;
}
#es-rc #es-rc-content .es-kv__logo {
  margin-bottom: 20px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
}
#es-rc #es-rc-content .es-kv__packshot {
  display: block;
  animation: appear 0.8s ease forwards;
  animation-delay: 0.9s;
  position: relative;
}
#es-rc #es-rc-content .es-kv__img {
  margin: 0 auto;
  display: block;
  padding: 3px 0;
  max-width: 60%;
}
#es-rc #es-rc-content .es-kv__img--1 {
  max-height: 250px;
}
#es-rc #es-rc-content .es-kv__bg-img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__left {
  max-width: 275px;
  margin: 15px auto;
  animation: slideright 0.8s ease forwards;
  animation-delay: 0.9s;
}
#es-rc #es-rc-content .es-kv__title {
  margin: auto;
  padding: 5px 10px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-kv__title--mobile {
  text-align: center;
}
#es-rc #es-rc-content .es-kv__title--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__subtitle {
  margin-bottom: 0;
  padding-left: 10px;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  animation: slideright 0.8s ease forwards;
  animation-delay: 0.9s;
  text-align: center;
}
#es-rc #es-rc-content .es-benefits__img {
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-benefits__img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}
#es-rc #es-rc-content .es-benefits__single {
  z-index: 1;
}
#es-rc #es-rc-content .es-benefits__text {
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-benefits__text--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-fresh {
  padding-bottom: 10px;
  background: #DCDDE7;
  position: relative;
}
#es-rc #es-rc-content .es-fresh__img {
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-fresh__img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-fresh__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
#es-rc #es-rc-content .es-fresh__title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-formula {
  padding-top: 20px;
  position: relative;
  padding-bottom: 25px;
}
#es-rc #es-rc-content .es-formula__text {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#es-rc #es-rc-content .es-formula__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-rc-content .es-formula__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-rc #es-rc-content .es-formula__left {
  position: absolute;
  bottom: initial;
  top: 55%;
  left: 5%;
  transform: translate(-5%, -50%);
}
#es-rc #es-rc-content .es-formula__title {
  margin-bottom: 16px;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-formula__title--left {
  margin-bottom: 0;
  text-align: left;
}
#es-rc #es-rc-content .es-formula__title--right {
  text-align: right;
}
#es-rc #es-rc-content .es-formula__title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-formula__left-image {
  max-width: 100px;
  bottom: 0;
  left: 0;
  margin-left: 0;
}
#es-rc #es-rc-content .es-formula__right {
  position: absolute;
  bottom: initial;
  top: 65%;
  right: 2%;
  transform: translate(-5%, -50%);
}
#es-rc #es-rc-content .es-formula__right-image {
  max-width: 100px;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-right: 0;
}
#es-rc #es-rc-content .es-moisture {
  background: #DCDDE7;
  padding-top: 20px;
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-moisture__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
#es-rc #es-rc-content .es-moisture__title--bold {
  font-weight: 700;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-moisture__img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-cross {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-cross__title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#es-rc #es-rc-content .es-cross__product {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-rc #es-rc-content .es-cross__product:hover .es-cross__link::before {
  transform: scaleX(1);
}
#es-rc #es-rc-content .es-cross__product:hover .es-cross__packshot {
  transform: translateY(-8px);
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 24px;
  transition: transform 0.3s;
}
#es-rc #es-rc-content .es-cross__packshot img {
  max-width: 100%;
}
#es-rc #es-rc-content .es-cross__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__text {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__subtitle {
  font-size: 16px;
  min-height: 50px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__description {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
  min-height: 70px;
}
#es-rc #es-rc-content .es-cross__link {
  width: 63%;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  display: inline-block;
  padding: 22px 48px;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background: #000;
}
#es-rc #es-rc-content .es-cross__link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #000;
  content: "";
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
#es-rc #es-rc-content .es-footer__disclaimer {
  margin-bottom: 48px;
  font-size: 12px;
  text-align: center;
}
#es-rc #es-rc-content .es-footer__container {
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  padding: 0;
  flex-flow: column;
  gap: 32px;
}
#es-rc #es-rc-content .es-footer__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 500px) {
  #es-rc #es-rc-content .es-kv {
    min-height: unset;
  }
  #es-rc #es-rc-content .es-kv__left {
    max-width: 350px;
  }
  #es-rc #es-rc-content .es-kv__title {
    padding: 0 10px;
  }
  #es-rc #es-rc-content .es-kv__wrapper {
    flex-direction: row-reverse;
    position: absolute;
  }
}
@media screen and (min-width: 700px) {
  #es-rc #es-rc-content .es-kv__container {
    position: relative;
    z-index: 1;
  }
  #es-rc #es-rc-content .es-kv__branding {
    padding: 0;
  }
  #es-rc #es-rc-content .es-kv__logo {
    position: absolute;
    top: 25px;
    left: 0;
  }
  #es-rc #es-rc-content .es-kv__logo-img {
    max-width: 135px;
    margin-left: 40px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
  #es-rc #es-rc-content .es-kv__img--1 {
    max-height: 200px;
  }
  #es-rc #es-rc-content .es-kv__bg-img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__bg-img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__left {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 22px;
    text-align: left;
  }
  #es-rc #es-rc-content .es-kv__title--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__title--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__subtitle {
    font-size: 17px;
    text-align: left;
  }
  #es-rc #es-rc-content .es-benefits {
    position: relative;
  }
  #es-rc #es-rc-content .es-benefits__img--desktop {
    margin-bottom: 0;
    display: block;
  }
  #es-rc #es-rc-content .es-benefits__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-benefits__text {
    position: absolute;
    top: 45%;
    left: 4%;
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-fresh {
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-fresh__img {
    margin-bottom: 0;
  }
  #es-rc #es-rc-content .es-fresh__img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-fresh__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-fresh__text-group {
    position: absolute;
    top: 50%;
    right: -1%;
    transform: translate(-5%, -50%);
  }
  #es-rc #es-rc-content .es-fresh__title {
    margin-bottom: 30px;
    text-align: left;
    font-size: 23px;
    line-height: 1.4;
  }
  #es-rc #es-rc-content .es-fresh__title--bold {
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-formula {
    padding-top: 30px;
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-formula__text {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-formula__left {
    top: 55%;
    left: 6%;
  }
  #es-rc #es-rc-content .es-formula__title {
    font-size: 23px;
    margin-bottom: 10px;
  }
  #es-rc #es-rc-content .es-formula__left-image {
    max-width: 250px;
  }
  #es-rc #es-rc-content .es-formula__right {
    top: 65%;
    right: 1.4%;
  }
  #es-rc #es-rc-content .es-formula__right-image {
    margin-bottom: 20px;
    max-width: 250px;
  }
  #es-rc #es-rc-content .es-moisture {
    padding-top: 0;
    position: relative;
  }
  #es-rc #es-rc-content .es-moisture__title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    text-align: left;
    font-size: 23px;
  }
  #es-rc #es-rc-content .es-moisture__title--bold {
    font-size: 31px;
  }
  #es-rc #es-rc-content .es-moisture__img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-moisture__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-cross__description {
    min-height: 50px;
  }
  #es-rc #es-rc-content .es-cross__products {
    justify-content: space-evenly;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
  #es-rc #es-rc-content .es-cross__product {
    width: 49%;
    justify-content: flex-start;
  }
  #es-rc #es-rc-content .es-footer__container {
    justify-content: center;
    padding: 10px 46px;
    flex-flow: row;
  }
  #es-rc #es-rc-content .es-footer__logo {
    flex: 2;
    max-width: 24%;
  }
}
@media screen and (min-width: 800px) {
  #es-rc #es-rc-content .es-fresh__title--bold {
    font-size: 31px;
  }
}
@media screen and (min-width: 900px) {
  #es-rc #es-rc-content .es-kv__left {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
  #es-rc #es-rc-content .es-kv__img--1 {
    max-height: 200px;
  }
  #es-rc #es-rc-content .es-fresh__text-group {
    top: 53%;
    right: 7%;
  }
  #es-rc #es-rc-content .es-formula__left {
    top: 53%;
    left: 6%;
  }
  #es-rc #es-rc-content .es-formula__left-image {
    max-width: 350px;
  }
  #es-rc #es-rc-content .es-formula__right {
    top: 58%;
    right: 1.4%;
  }
  #es-rc #es-rc-content .es-formula__right-image {
    max-width: 350px;
  }
}
@media screen and (min-width: 990px) {
  #es-rc #es-rc-content .es-kv__branding {
    max-width: 315px;
  }
  #es-rc #es-rc-content .es-kv__left {
    max-width: 415px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-kv__img--1 {
    max-height: 300px;
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  10% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  35% {
    transform: rotate(-50deg) translate(-50%, -50%);
  }
  70% {
    transform: rotate(90deg) translate(-50%, -50%);
  }
  85% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */