@charset "UTF-8";
$regular: "Montserrat", sans-serif;
$primary: #00a3a5;
$secondary: #9880ad;

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-rc #es-rc-content {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    font-family: $regular;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    max-width: 990px;


    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }


    .es-kv {
        background-size: cover;
        background-position: center right;
        min-width: 100%;
        min-height: 540px;

        @media (min-width: 500px) {
            min-height: unset;
        }

        &__left {
            max-width: 275px;
            margin: 15px auto;
            animation: slideright 0.8s ease forwards;
            animation-delay: 0.9s;


            @media (min-width: 500px) {
                max-width: 350px;
            }

            @media (min-width: 990px) {
                max-width: 415px;
            }
        }

        &__title {
            margin: 0;
            padding: 5px 10px;
            color: #000;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.5;
            text-transform: uppercase;
            margin: auto;

            &--mobile {
                text-align: center;
            }

            &--desktop {
                display: none;
            }

            @media (min-width: 500px) {
                padding: 0 10px;
            }

            @media (min-width: 700px) {
                font-size: 22px;
            }

            @media (min-width: 990px) {
                font-size: 30px;
            }
        }

        &__subtitle {
            margin-bottom: 0;
            padding-left: 10px;
            color: #000000;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            animation: slideright 0.8s ease forwards;
            animation-delay: 0.9s;
            text-align: center;

            @media (min-width: 700px) {
                font-size: 17px;
            }
        }

        &__disclaimer {
            color: #000000;
            background-color: #FFF;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__bg-img {
            &--desktop {
                display: none;
            }
        }

        &__img {
            margin: 0 auto;
            display: block;
            padding: 3px 0;
            max-width: 60%;

            &--1 {
                max-height: 250px;

                @media (min-width: 990px) {
                    max-height: 300px;
                }
            }
        }

        &__branding {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            max-width: 280px;

            @media (min-width: 990px) {
                max-width: 315px;
            }
        }

        &__packshot {
            display: block;
            animation: appear 0.8s ease forwards;
            animation-delay: 0.9s;
            position: relative;
        }

        &__logo {
            margin-bottom: 20px;
            opacity: 0;
            animation: slidedown 0.8s ease forwards;
        }

        &__brand {
            opacity: 0;
            animation: slidedown 0.8s ease forwards;
            animation-delay: 0.3s;
        }

        &__text {
            color: #ffffff;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: -2px;
            opacity: 0;
            animation: slidedown 0.8s ease forwards;
            animation-delay: 0.6s;

            @media (min-width: 990px) {
                font-size: 20px;
            }

            span {
                font-weight: 700;
                font-size: 20px;
            }

            &--1 {
                margin: 0 auto;
                background-color: rgba($primary, 0.6);
                padding: 0 3px;
                color: #ffffff;
                opacity: 0.5;
                max-width: fit-content;
                text-align: center;
                text-transform: uppercase;
                animation: slidedown 0.8s ease forwards;

                @media (min-width: 990px) {
                    font-size: 20px;
                }
            }

            &--2 {
                margin: 0 auto;
                background-color: rgba($secondary, 0.6);
                padding: 0 3px;
                color: #ffffff;
                opacity: 0.5;
                text-transform: uppercase;
                max-width: fit-content;
                text-align: center;
                animation: slidedown 0.8s ease forwards;

                @media (min-width: 990px) {
                    font-size: 20px;
                }
            }
        }

        &__disclaimer {
            margin: 0;
            padding-left: 10px;
            color: #000000;
            font-weight: 300;
            font-size: 10px;
            animation: slideright 0.8s ease forwards;
            animation-delay: 0.9s;
        }
    }

    .es-benefits {
        padding-top: 20px;
        padding-bottom: 20px;

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 120px;
        }

        &__img {
            margin-bottom: 25px;

            &--desktop {
                display: none;
            }
        }

        &__single {
            z-index: 1;

            &:hover .es-benefits__img--small {
                transform: translate(-50%, -50%);
            }
        }

        &__text {
            margin-bottom: 5px;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;

            span {
                font-weight: 700;
            }
        }

    }

    .es-fresh {
        padding-bottom: 10px;
        background: #DCDDE7;
        position: relative;

        &__img {
            margin-bottom: 25px;

            &--desktop {
                display: none;
            }
        }

        &__title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;

            &--bold {
                font-weight: 700;
            }
        }
    }

    .es-formula {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        padding-bottom: 25px;

        &__text {
            margin-bottom: 15px;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }

        &__image {
            & img {
                display: none;
            }
        }

        &__left {
            position: absolute;
            bottom: initial;
            top: 55%;
            left: 5%;
            transform: translate(-5%, -50%);
        }

        &__right {
            position: absolute;
            bottom: initial;
            top: 65%;
            right: 2%;
            transform: translate(-5%, -50%);
        }

        &__left-image,
        &__right-image {
            max-width: 100px;
            bottom: 0;
            left: 0;
        }

        &__left-image {
            margin-left: 0;
        }

        &__right-image {
            margin-bottom: 5px;
            margin-right: 0;
        }

        &__title {
            margin-bottom: 16px;
            font-weight: 200;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;

            &--left {
                margin-bottom: 0;
                text-align: left;
            }

            &--right {
                text-align: right;
            }

            &--bold {
                font-weight: 700;
            }
        }

        &__subtitle {
            margin-bottom: 32px;
            color: $primary;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            line-height: 1;

            span {
                position: relative;
                top: 2px;
                color: $primary;
                font-size: 32px;
                line-height: 1;
            }
        }

        &__text {
            font-size: 18px;
            text-align: center;
        }

        &__img {
            @include img;
        }
    }

    .es-moisture {
        background: #DCDDE7;
        padding-top: 20px;
        margin-bottom: 20px;

        &__title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;

            &--bold {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &__img {
            &--desktop {
                display: none;
            }
        }
    }

    .es-cross {
        margin-bottom: 30px;

        &__title {
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-weight: 300;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;

            &--bold {
                font-weight: 700;
            }
        }

        &__products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__product {
            margin-bottom: 32px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-flow: column;

            &:hover .es-cross__link::before {
                transform: scaleX(1);
            }

            &:hover .es-cross__packshot {
                transform: translateY(-8px);
            }
        }

        &__packshot {
            margin-bottom: 24px;
            transition: transform 0.3s;

            img {
                max-width: 100%;
            }
        }

        &__text {
            margin-bottom: 10px;
            font-weight: 800;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: 16px;
            min-height: 50px;
            text-align: center;
        }

        &__description {
            margin-bottom: 30px;
            font-size: 14px;
            text-align: center;
            min-height: 50px;
        }

        &__link {
            width: 70%;
            position: relative;
            z-index: 1;
            border-radius: 8px;
            display: inline-block;
            padding: 20px 48px;
            color: #fff;
            font-weight: 800;
            font-size: 14px;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            transition: all 0.3s ease-in-out;
            background: #000;

            &::before {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                background-color: #000;
                content: "";
                transition: transform 0.3s ease-in-out;
                transform: scaleX(0);
                transform-origin: left;
            }
        }

        &__img {
            @include img;
            transition: all 0.3s ease-in-out;
        }
    }

    .es-footer {

        &__img {
            @include img;
        }

        &__disclaimer {
            margin-bottom: 32px;
            font-size: 10px;
            text-align: center;
        }

        &__container {
            border-top: 2px solid #000;
            display: flex;
            align-items: center;
            padding: 0;
            flex-flow: column;
            gap: 32px;
        }

        &__text {
            padding: 0 20px;
            font-weight: 200;
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    @media screen and (min-width: 500px) {
        .es-kv {

            &__wrapper {
                flex-direction: row-reverse;
                position: absolute;
            }

            &__text {
                &--1 {
                    position: relative;
                    left: 10px;
                }

                &--2 {
                    position: relative;
                    left: 10px;
                }
            }
        }
    }


    @media screen and (min-width: 700px) {

        .es-kv {
            &__container {
                position: relative;
                z-index: 1;
            }

            &__branding {
                padding: 0;
            }

            &__logo-img {
                max-width: 75%;
            }

            &__logo {
                position: absolute;
                top: 25px;
                left: 0;
            }

            &__img--1 {
                max-height: 200px;
            }

            &__packshot {
                position: absolute;
                bottom: 0;
                right: 25px;
            }

            &__title {
                text-align: left;
            }

            &__subtitle {
                text-align: left;
            }

            &__left {
                position: absolute;
                bottom: 0;
                left: 5px;
            }

            &__bg-img {
                &--desktop {
                    display: block;
                }

                &--mobile {
                    display: none;
                }
            }
        }

        .es-benefits {
            position: relative;

            &__img {
                &--mobile {
                    display: none;
                }

                &--desktop {
                    margin-bottom: 0;
                    display: block;
                }
            }

            &__text {
                position: absolute;
                top: 50%;
                left: 5%;
            }
        }

        .es-fresh {
            padding-bottom: 0;

            &__img {
                margin-bottom: 0;

                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                }
            }

            &__text-group {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(-5%, -50%);
            }
        }

        .es-moisture {
            padding-top: 0;
            position: relative;

            &__img {
                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                }
            }

            &__title {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(-5%, -50%);
                text-align: left;
            }
        }

        .es-formula {
            position: relative;

            &__left {
                bottom: initial;
                top: 50%;
                left: 5%;
                transform: translate(-5%, -50%);
            }

            &__right {
                bottom: initial;
                top: 55%;
                right: 2%;
                transform: translate(-5%, -50%);
            }

            &__title {
                font-size: 18px;
            }

            &__left-image,
            &__right-image {
                max-width: 200px;
            }
        }

        .es-cross {
            &__title {
                font-size: 30px;
            }

            &__products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                column-gap: 10px;
            }

            &__product {
                width: 49%;
                justify-content: flex-start;
            }
        }

        .es-footer {
            &__container {
                justify-content: center;
                padding: 10px 46px;
                flex-flow: row;
            }

            &__logo {
                flex: 2;
            }

            &__nr {
                flex: 1;
            }

            &__texts {
                flex: 2;
            }
        }
    }

    @keyframes slidedown {
        from {
            opacity: 0;
            transform: translateY(-32px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideright {
        from {
            opacity: 0;
            transform: translateX(-100px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg) translate(-50%, -50%);
        }

        10% {
            transform: rotate(30deg) translate(-50%, -50%);
        }

        35% {
            transform: rotate(-50deg) translate(-50%, -50%);
        }

        70% {
            transform: rotate(90deg) translate(-50%, -50%);
        }

        85% {
            transform: rotate(30deg) translate(-50%, -50%);
        }

        100% {
            transform: rotate(0deg) translate(-50%, -50%);
        }
    }
}